@import "tailwindcss";

:root {
  --background: #ece8de;
  --foreground: #000000;

  --color-primary: #18432a;
  --color-secondary: #588157;
  /* --color-accent: #ccff00; */
  --color-accent: #fce321;
  --color-white: #ece8de;
  --color-black: #000000;
  --color-neon: #ccff00;
  --color-orange: #ffcc00;
  --color-yellow: #f8e71c;

  --bw: 3px;
  --shadow: 5px 5px 0px 0px rgba(0, 0, 0, 1);
}

@theme inline {
  --font-heading: var(--font-lexend);
  --font-body: var(--font-syne);

  --color-neo-green: var(--color-green);
  --color-neo-neon: var(--color-neon);
  --color-neo-orange: var(--color-orange);
  --color-neo-yellow: var(--color-yellow);
}

* {
  cursor: none;
}
html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-syne), sans-serif;
}

h1,
h2,
h3,
h4,
.font-heading {
  font-family: var(--font-lexend), sans-serif;
  text-transform: uppercase;
  font-weight: 800;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.marquee {
  animation: marquee 25s linear infinite;
}

.marquee-reverse {
  animation: marquee-reverse 15s linear infinite;
}

@keyframes marquee-reverse {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(0);
  }
}
